---
---

<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include panel.html %}

    <nav class="navbar navbar-spero navbar-fixed-top">
      <ul class="nav navbar-nav" style="padding-left: 80px">
        <li><a id="demo">Demo</a></li>
        <li><a id="feat">Features</a></li>
        <li><a id="tutr">Tutorial</a></li>
      </ul>
    </nav>

    <!-- Pages for the navigation buttons -->
    {% include demo_page.html %}

    {% include feat_page.html %}

    {% include tutorial.html %}


    <script src="{{ site.baseurl }}assets/js/ace-setup.js"></script>
    <!--<script src="{{ site.baseurl }}ace-setup.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ "assets/js/main.js" | prepend: site.baseurl }}"></script>
  </body>
</html>