---
---

<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include panel.html %}

    <nav class="navbar navbar-spero navbar-fixed-top">
      <ul class="nav navbar-nav" style="padding-left: 80px">
        <li><a id="demo">Demo</a></li>
        <li><a id="feat">Features</a></li>
        <li><a id="tutr">Tutorial</a></li>
      </ul>
    </nav>

    <!-- FIND: Demo -->
    <div class="content-wrapper" id="demo-page">
      <!-- Whatever goes above the demo text box -->
      <div class="content-wrapper__inner" style="padding-bottom: 20px">
        <h2 class="post-list__post-title post-title"><a>This is the demo page</a></h2>
        <p class="excerpt">Ipsum ipsum, blah blah blah</p>
        <div class="post-list__meta"></div>

        <hr class="post-list__divider">
      </div>

      <!-- Demo text box -->
      <div class="code-demo">
        <div class="col-md-5 demo-part" style="padding-left: 40px">
          <p>I'm thinking a menu should go here</p>
          <p>Provide a set of "basic" examples</p>
        </div>
        <div class="col-md-7 demo-part">
          <div id="active-code">
            <button type="button" class="btn btn-primary btn-small" id="run-code">Run</button>
            <div id="editor"># This code is editable and runnable!
mod spero:demo

def main = () -> {
    # A simple integer calculator:
    # `+` or `-` means add or subtract by 1
    # `*` or `/` means multiply or divide by 2

    let program = "+ + * - /";
    let acc = mut 0;

    for char in program do
        char.match {
            case '+' -> acc += 1,
            case '-' -> acc -= 1,
            case '*' -> acc *= 2,
            case '/' -> acc /= 2,
            case _ -> ()
        }

    "The program \"{}\" evaluates to {}"
        .std:io:println(program, acc)
}</div>
            <div id="result" data-msg-running="Running...">
              <a id="playlink"><i class="icon-link-ext"></i></a>
            </div>
            <div id="static-code"><pre class="spero"></div>
          </div>
        </div>
      </div>

      <!-- Whatever goes below the demo text-box -->
      <div class="content-wrapper__inner" style="padding-top: 10px">
        <hr class="post-list__divider">

        <h2 class="post-list__post-title post-title"><a>Something should go down here</a></h2>
        <p class="excerpt">Ipsum ipsum, blah blah blah</p>
        <div class="post-list__meta"></div>
      </div>
    </div>

    <!-- FIND: Features -->
    <div class="content-wrapper" id="feat-page">
      <div class="content-wrapper__inner">
        <ol class="post-list">
          <li>
            <h2 class="post-list__post-title post-title"><a>This is the features page</a></h2>
            <p class="excerpt">Ipsum ipsum, blah blah blah</p>
            <div class="post-list__meta"></div>
            <hr class="post-list__divider">
          </li>
        </ol>

        <hr class="post-list__divider ">
      </div>
    </div>

    <!-- FIND: Tutorial -->
    <div class="content-wrapper" id="tutr-page">
      <div class="content-wrapper__inner">
        <ol class="post-list">
          <li>
            <h2 class="post-list__post-title post-title"><a>This is the tutorial page</a></h2>
            <p class="excerpt">Ipsum ipsum, blah blah blah</p>
            <div class="post-list__meta"></div>
            <hr class="post-list__divider">
          </li>
        </ol>

        <hr class="post-list__divider ">
      </div>
    </div>

    <script src="{{ site.baseurl }}assets/js/ace-setup.js"></script>
    <!--<script src="{{ site.baseurl }}ace-setup.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ "assets/js/main.js" | prepend: site.baseurl }}"></script>
  </body>
</html>