<!-- Demo Tab: Provides a demo test environment and some example programs -->
<div class="content-wrapper" id="demo-page">
    <!-- Whatever goes above the demo text box -->
    <div class="content-wrapper__inner" style="padding-bottom: 20px">
    <h2 class="post-list__post-title post-title">Spero: Clean, Minimal, Potent</h2>
    <p class="excerpt">TODO: Sell up spero here<br></p>
    <div class="post-list__meta"></div>

    <hr class="post-list__divider" style="margin-bottom: 0px;">
    </div>

    <!-- Demo text box -->
    <div class="code-demo">
    <div class="col-md-5 demo-part" style="padding-left: 40px">
        <p>Sample Programs:</p>
        <ul id="demo-list">
        <li id="hw" onclick="helloWorldDemo();">Hello World</li>
        <li id="sc" onclick="calculatorDemo();">Simple Calculator</li>
        <li id="ep" onclick="palindromeDemo();">Euler Palindrome</li>
        <li id="is" onclick="insertionSortDemo();">Bubble Sort</li>
        <li id="se" onclick="erasthosenesDemo();">Sieve of Erasthosenes</li>
        <li id="ct" onclick="customTypeDemo();">Custom Type</li>
        </ul>
        <p>Other programs may be added later, but these provide a good overview of the basic systems.</p>
        <p>Try Spero out and see what you can come up with.</p>
    </div>
    <div class="col-md-7 demo-part">
        <div id="active-code">
            <button type="button" class="btn btn-primary btn-small" id="run-code">Run</button>
            <div id="editor"></div>
            <div id="result" data-msg-running="Running...">
                <a id="playlink"><i class="icon-link-ext"></i></a>
            </div>
            <div id="static-code"><pre class="spero"></div>
        </div>
    </div>
    </div>

    <!-- Whatever goes below the demo text-box -->
    <div class="content-wrapper__inner" style="padding-top: 10px">
    <hr class="post-list__divider" style="margin-top: 0px;">

    <!--<h2 class="post-list__post-title post-title">Here's a simple Spero demo</h2>-->
    <p class="excerpt">Try out one of these programs to see how Spero looks and feels or write your own in the editor above<br>
    Just click the button and we'll compile and run the program for you, sending whatever output back to your screen<br>
    <br>
    Note: You must provide a no-arg main function for successful running<br>
    Note: This isn't currently implemented yet as the error message should make clear</p>
    <div class="post-list__meta"></div>
    </div>
</div>