<!-- Features Tab: Provides a quick overview of Spero features and capabilities -->
<div class="content-wrapper" id="feat-page">
    <div class="content-wrapper__inner">
    <ol class="post-list">
        <li class="blurb-right">
        <div>
            <div class="col-md-7">
            <h2 class="post-list__post-title post-title">Minimal Syntax</h2>
            <p class="excerpt">Visibility is declaration, Type inference, </p>
            </div>
            <div class="col-md-5">
            <img src="/spero-lang/assets/img/profile.png" class="user-image"/>
            </div>
        </div>
        <hr class="post-list__divider">
        </li>
        <li class="blurb-left">
        <div>
            <div class="col-md-7">
            <h2 class="post-list__post-title post-title">Flexible Environment</h2>
            <p class="excerpt">Dot-flipping</p>
            </div>
            <div class="col-md-5">
            <img src="/spero-lang/assets/img/profile.png" class="user-image"/>
            </div>
        </div>
        <hr class="post-list__divider">
        </li>
        <li class="blurb-right">
        <div>
            <div class="col-md-7">
            <h2 class="post-list__post-title post-title">Extensive Type System</h2>
            <p class="excerpt">ADTs, Dependent Types, Metaprogramming</p>
            </div>
            <div class="col-md-5">
            <img src="/spero-lang/assets/img/profile.png" class="user-image"/>
            </div>
        </div>
        <hr class="post-list__divider">
        </li>
        <li class="blurb-left">
        <div>
            <div class="col-md-7">
            <h2 class="post-list__post-title post-title">Functional Support</h2>
            <p class="excerpt">Return value overloading, First-class values</p>
            </div>
            <div class="col-md-5">
            <img src="/spero-lang/assets/img/profile.png" class="user-image"/>
            </div>
        </div>
        <hr class="post-list__divider">
        </li>
        <li class="blurb-right">
        <div>
            <div class="col-md-7">
            <h2 class="post-list__post-title post-title">Safety First</h2>
            <p class="excerpt">Unsafe blocks, Mutability Checks, Pointer Lifetimes</p>
            </div>
            <div class="col-md-5">
            <img src="/spero-lang/assets/img/profile.png" class="user-image"/>
            </div>
        </div>
        <hr class="post-list__divider">
        </li>
    </ol>

    <hr class="post-list__divider" style="width: 85%">
    </div>
</div>