<!-- Features Tab: Provides a quick overview of Spero features and capabilities -->
<div class="content-wrapper" id="feat-page">
    <div class="content-wrapper__inner">
        <ol class="post-list">
            <li class="blurb-right">
                <div>
                    <div class="col-md-7">
                        <h2 class="post-list__post-title post-title">Minimal Syntax</h2>
                        <p class="excerpt">Variable visibility interleaved with the declaration keyword<br>
                            ML-style Type inference reduces the need for type annotations<br>
                            Currying and argument forwarding enable easy function composition</p>
                    </div>
                    <div class="col-md-5">
                        <img src="/spero-lang/assets/img/examples_2_1.png" class="code-img"/>
                    </div>
                </div>
                <hr class="post-list__divider">
            </li>
            <li class="blurb-left">
                <div>
                    <div class="col-md-7">
                        <h2 class="post-list__post-title post-title">Flexible Environment</h2>
                        <p class="excerpt">Dot-flipping merges OOP and Functional Semantics<br>
                        Control-flow keywords also affect Dot-flipping<br>
                        Pattern matching in loops, match, and even assignment</p>
                    </div>
                    <div class="col-md-5">
                        <img src="/spero-lang/assets/img/examples_2_2.png" class="code-img"/>
                    </div>
                </div>
                <hr class="post-list__divider">
            </li>
            <li class="blurb-right">
                <div>
                    <div class="col-md-7">
                        <h2 class="post-list__post-title post-title">Extensive Type System</h2>
                        <p class="excerpt">Create Algebraic Data Types easily with a unified interface<br>
                        Achieve dependent typing using the generic system<br>
                        Something about inheritance goes here<br>
                        Utilize metaprogramming capabilities to code on the types</p>
                    </div>
                    <div class="col-md-5">
                        <img src="/spero-lang/assets/img/examples_2_3.png" class="code-img"/>
                    </div>
                </div>
                <hr class="post-list__divider">
            </li>
            <li class="blurb-left">
                <div>
                    <div class="col-md-7">
                        <h2 class="post-list__post-title post-title">Functional Support</h2>
                        <p class="excerpt">Perform overloading based on the return value<br>
                        Pass around functions as arguments to functions<br>
                        Blah, blah, blah</p>
                    </div>
                    <div class="col-md-5">
                        <img src="/spero-lang/assets/img/examples_2_4.png" class="code-img"/>
                    </div>
                </div>
                <hr class="post-list__divider">
            </li>
            <li class="blurb-right">
                <div>
                    <div class="col-md-7">
                        <h2 class="post-list__post-title post-title">I Need Something for the Reference</h2>
                        <p class="excerpt">TODO</p>
                    </div>
                    <div class="col-md-5">
                        <img src="/spero-lang/assets/img/profile.png" class="code-img"/>
                    </div>
                </div>
                <hr class="post-list__divider">
            </li>
            <li class="blurb-left">
                <div>
                    <div class="col-md-7">
                        <h2 class="post-list__post-title post-title">Safety is Always #6</h2>
                        <p class="excerpt">Restrict unsafe behavior to the dark corners<br>
                        Immutable-by-default values with strict mutation restrictions<br>
                        Automatic RAII-style management of resources and pointers</p>
                    </div>
                    <div class="col-md-5">
                        <img src="/spero-lang/assets/img/examples_2_5.png" class="code-img"/>
                    </div>
                </div>
                <hr class="post-list__divider">
            </li>
        </ol>

        <hr class="post-list__divider" style="width: 45%; margin-left: 55%; margin-top: 10px;">
    </div>
</div>