<!-- Features Tab: Provides a quick overview of Spero features and capabilities -->
<div class="content-wrapper" id="feat-page">
    <div class="content-wrapper__inner" style="padding-bottom: 20px;">
        <ol class="post-list">
            <li class="blurb-right">
                <div>
                    <div class="col-md-7">
                        <h2 class="post-list__post-title post-title">Minimal Syntax</h2>
                        <p class="excerpt">Variable visibility interleaved with the declaration keyword<br>
                            ML-style Type inference reduces the need for type annotations<br>
                            Currying and argument forwarding enable easy function composition</p>
                    </div>
                    <div class="col-md-5 example" style="background-image: url('/spero-lang/assets/img/examples_1.png');"></div>
                </div>
                <hr class="post-list__divider">
            </li>
            <li class="blurb-left">
                <div>
                    <div class="col-md-7">
                        <h2 class="post-list__post-title post-title">Flexible Environment</h2>
                        <p class="excerpt">Dot-flipping merges OO and Functional Semantics<br>
                        Control-flow keywords also affect Dot-flipping<br>
                        Pattern matching in loops, match, and even assignment</p>
                    </div>
                    <div class="col-md-5 example" style="background-image: url('/spero-lang/assets/img/examples_2.png');"></div>
                </div>
                <hr class="post-list__divider">
            </li>
            <li class="blurb-right">
                <div>
                    <div class="col-md-7">
                        <h2 class="post-list__post-title post-title">Extensive Type System</h2>
                        <p class="excerpt">Easily createe ADTs within the type interface<br>
                        Achieve dependent typing using the generic system<br>
                        Something about inheritance goes here</p>
                    </div>
                    <div class="col-md-5 example" style="background-image: url('/spero-lang/assets/img/examples_3.png');"></div>
                </div>
                <hr class="post-list__divider">
            </li>
            <li class="blurb-left">
                <div>
                    <div class="col-md-7">
                        <h2 class="post-list__post-title post-title">Functional Support</h2>
                        <p class="excerpt">Perform overloading based on the return value<br>
                        Simplistic creation with no special keywords or syntax<br>
                        Use functions just like any other value</p>
                    </div>
                    <div class="col-md-5 example" style="background-image: url('/spero-lang/assets/img/examples_4.png');"></div>
                </div>
                <hr class="post-list__divider">
            </li>
            <li class="blurb-right">
                <div>
                    <div class="col-md-7">
                        <h2 class="post-list__post-title post-title">Zero Cost Abstraction</h2>
                        <p class="excerpt">Hardware memory control provided through compiler library<br>
                        Reference semantics to elide copying and enable OO programming<br>
                        (Hopeful) metaprogramming support for perfect control</p>
                    </div>
                    <div class="col-md-5 example" style="background-image: url('/spero-lang/assets/img/examples_5.png');"></div>
                </div>
                <hr class="post-list__divider">
            </li>
            <li class="blurb-left">
                <div>
                    <div class="col-md-7">
                        <h2 class="post-list__post-title post-title">Safety is Always #6</h2>
                        <p class="excerpt">Restrict unsafe behavior to the dark corners<br>
                        Immutable-by-default values with strict mutation restrictions<br>
                        Automatic RAII-style resource management through implicit dropping</p>
                    </div>
                    <div class="col-md-5 example" style="background-image: url('/spero-lang/assets/img/examples_6.png');"/>
                </div>
                <hr class="post-list__divider">
            </li>
        </ol>
    </div>
</div>