<header class="panel-cover" style="background-image: url({{ "assets/img/cover.jpg" | prepend: site.baseurl }})">
  <div class="panel-main">
    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">
        <a href="{{ site.baseurl }}" title="link to home of {{ site.data.defines.title }}">
          <img src="{{ "assets/img/profile.png" | prepend: site.baseurl }}" class="user-image" alt="My Profile Photo">
          <h1 class="panel-cover__title panel-title">{{ site.data.defines.title }}</h1>
        </a>
        <hr class="panel-cover__divider">
        <p class="panel-cover__description">{{ site.data.defines.description }}</p>
        <hr class="panel-cover__divider panel-cover__divider--secondary">

        <div class="navigation-wrapper">

          <!-- TODO: Remove the '#blog' stuff. Leftover from the old site -->
          <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation">
              <li class="navigation__item">
                <a href="{{ site.baseurl }}#blog" title="link to install {{ site.data.defines.title }}" class="blog-button">
                  <!--<i class="fa fa-download" aria-hidden="true"></i>-->
                  <i class="icon icon-download"></i>
                  Install
                </a>
              </li>
              
              <li class="navigation__item">
                <a href="https://github.com/hGriff0n/spero" title="{{ site.data.defines.title }} on GitHub" target="_blank">
                  <!--<i class="icon icon-social-github"></i>-->
                  GitHub
                </a>
              </li>

              <!-- TODO: Turn into mailing list -->
              <li class="navigation__item">
                <a href="mailto:{{ site.data.defines.author.email }}" title="Email {{ site.data.defines.author.email }}" target="_blank">
                  <!--<i class="icon icon-mail"></i>-->
                  Mail <!--List-->
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="panel-cover--overlay"></div>
  </div>
</header>
