<!-- Tutorial Tab: Links or click-through tutorial for proper Spero design -->
<!-- Note: If I'm doing the click-through, it'll be a good idea to have an editor here too -->
<div class="content-wrapper" id="tutr-page">
    <div class="content-wrapper__inner" style="padding-bottom: 20px">
    <ol class="post-list">
        <li>
        <h2 class="post-list__post-title post-title">Landing Page for the Spero Tutorial</h2>
        <p class="excerpt">Actual tutorial to come later. I'm not the best at tutorials, so help is appreciated.</p>
        <div class="post-list__meta"></div>
        <hr class="post-list__divider">
        </li>
    </ol>

    <hr class="post-list__divider ">
    </div>
</div>