<!-- Tutorial Tab: Links or click-through tutorial for proper Spero design -->
<!-- Note: If I'm doing the click-through, it'll be a good idea to have an editor here too -->
<div class="content-wrapper" id="tutr-page">
    <div class="content-wrapper__inner">
    <ol class="post-list">
        <li>
        <h2 class="post-list__post-title post-title">This is the tutorial page</h2>
        <p class="excerpt">Ipsum ipsum, blah blah blah</p>
        <div class="post-list__meta"></div>
        <hr class="post-list__divider">
        </li>
    </ol>

    <hr class="post-list__divider ">
    </div>
</div>