@import url(uno.css);

/* Modifications */

pre.highlight,
.highlight pre {
  padding: 10px;
}

pre.highlight code,
.highlight pre code {
  white-space: pre-wrap;
}

.btn, 
.navigation__item a {
  margin: 5px 0;
  white-space: nowrap;
}

.pagination__page-number {
  display: inline-block;
  padding: 10px;
}

.categories a,
.tags a {
  border: 1px solid #e25440;
  border-radius: 20px;
  color: #e25440;
  display: inline-block;
  font-size: 12px;
  margin: 5px 0;
  padding: 5px 10px;
  text-shadow: none;
  white-space: nowrap;
}

.post-meta__tags {
  font-size: 12px;
  padding: 0 5px;
}

.footer__copyright {
    margin: 0 20px 10px;
}

.user-image {
  margin-bottom: 1.2em;
  position: relative;
  width: 100px;
  height: 100px;
}

#demo-list {
  list-style: georgian;
}

#demo-list > li:hover {
  cursor: pointer; cursor: hand;
  color: #e25440;
}

.curr-list-item {
  color: cadetblue;
}

.blurb-left > div {
  float: right;
  width: 100%;
}

.blurb-left > div > .col-md-7 {
  float: left;
}

.blurb-left > div > .col-md-5 {
  float: right;
  text-align: right;
}

.blurb-left > div > .col-md-5 > img {
  float: right;
}

.blurb-left > .post-list__divider {
  width: 85%;
}

.blurb-right > div > .col-md-7 {
  float: right;
  text-align: right;
}

.blurb-right > div > .col-md-5 {
  float: left;
}

.blurb-right > .post-list__divider {
  width: 85%;
  margin-left: 15%;
}